<main>
    <article class="max-w-full">
        <section class="max-w-full bg-[#222222] text-[#FDFDFE] not-prose">
            <div class="mx-8 lg:mx-80 py-8">
                <h1 class="text-6xl">{{ .Title }}</h1>

                {{ if .Params.description }}

                <p class="text-lg">{{ .Params.description }}</p>

                {{ end }}
            </div>
        </section>



        <!-- Markdown file's content -->
        <!-- <section class="leading-relaxed text-left mx-8 lg:mx-80">{{ .Content }}</section> -->

        
    </article>
</main>
