<!DOCTYPE html>
<html lang="en">

    <!-- Loads the head partial template. -->
    <head>{{ partial "head.html" . }}</head>

  
    <body class="max-w-full min-w-full">   
        
        <!-- Loads the header template. -->
            <section>{{ partial "header.html" . }}</section>
        
        <!-- Loads the main block of a markdown file. -->
        {{- block "main" . }}{{- end }}


        <!-- Loads the footer template. -->
        <section>{{ partial "footer.html" . }}</section>

    </body>
</html>