<!DOCTYPE html>
<html lang="en">

    <!-- Loads the head partial template. -->
    <head>{{ partial "head.html" . }}</head>

    <!-- Prose-headings will  -->
    <body class="prose-headings:font-varelaRound text-base">   
        
        <!-- Loads the header template. -->
        <header>{{ partial "header.html" . }}</header>
        
        <!-- Loads the main block of a markdown file. -->
        {{- block "main" . }}{{- end }}

        <!-- Loads the footer template. -->
        {{ partial "footer.html" . }}

    </body>
</html>