{{ define "main" }}

    <!-- Check if the section is "screenshots" and loads appropriate partial templates -->
    {{ if eq .Section "screenshots" }}
        
        <!-- Load single page template for screenshots section from components/single-pages/screenshots-single.html -->
        {{- partial "components/single-pages/screenshots-single.html" . -}}
    
    {{ else }}
    
        <!-- Load default single page template from /components/single-pages/default-single.html" -->
        {{- partial "components/single-pages/default-single.html" . -}}
    
    {{ end }}

{{ end }}