<main>
    <article class="max-w-full text-lg">
        <section class="max-w-full bg-[#222222] text-[#FDFDFE] not-prose">
            <div class="mx-8 lg:mx-80 p-4">
                <h1 class="font-varelaRound">{{ .Title }}</h1>
                    
                {{ if .Params.description }}
                    
                    <p class="text-lg">{{ .Params.description }}</p>
                
                {{ end }}

            </div>
        </section>
        
        <!-- Section for the information on how to submit screenshots to qtile.org -->
        <section class="grid grid-flow-row items-start place-content-start 
            gap-4 my-2 p-4 mx-8 max-w-full lg:mx-80 lg:grid-flow-col"
        >   
            <!-- See more config examples section -->
            <div class="grid grid-flow-row items-center place-content-start 
                p-4 border rounded px-0 pt-0 mx-0 my-4 h-auto w-auto lg:h-48 lg:w-96"
            >
                <span class="grid grid-flow-col items-center place-content-start gap-2 p-2 
                    bg-neutral-100 border-b border-solid"
                >
                    <img src="/images/fa-icons/cogs-solid.svg" 
                        alt="cogs solid type font icon from font awesome"
                        height="20" width="20"
                    />
                    <h6>See more config examples</h6>
                </span>
                
                <p class="p-4 h-auto">
                    Be sure to check out 
                    <a class="text-[#215578] hover:text-[#102A3C] hover:underline decoration-[#102A3C]" 
                    href="https://github.com/qtile/qtile-examples"
                    >
                        more examples on Github
                    </a>
                    on how to configure Qtile.
                </p>
            </div>

            <!-- Add your screenshot section -->
            <div class="grid grid-flow-row items-start place-content-start p-4 
                border rounded px-0 pt-0 mx-0 my-4 h-auto w-auto lg:h-48 lg:w-96"
            >
                <span class="grid grid-flow-col items-center place-content-start gap-4 p-2 
                    bg-neutral-100 border-b border-solid"
                >
                    <img src="/images/fa-icons/table-columns-solid.svg" 
                    alt="cogs solid type font icon from font awesome"
                    height="20" width="20"
                    />
                    <h6>Add your screenshot</h6>
                </span>
                
                <p class="p-4 h-auto">
                    Want to show off how you've customized Qtile?
                    Send a pull request to 
                    <a class="text-[#215578] hover:text-[#102A3C] hover:underline decoration-[#102A3C]"
                        href="https://github.com/qtile/qtile.org"
                    >
                        qtile.org on GitHub,
                    </a>
                    and we'll get your screenshot and config added.
                </p>
            </div>
        </section>
    
        <section class="grid gap-4 mx-8 lg:mx-80 my-2 p-2 h-auto w-auto">
            <ul>
                <li> 
                    <!-- Iterate through screenshots and show them as a grid -->
                    {{ range .Pages }}
                        
                        <div class="inline-grid grid-flow-row h-60 p-2 m-2 gap-2
                         border rounded w-auto lg:w-72 lg:hover:shadow-2xl"
                        >
                            
                            <!-- If "screenshot:" frontmatter is set in the markdown file, display image -->
                            {{ if .Params.screenshot }}
                                
                                <!-- Find image from "screenshot" frontmatter(.Params) provided from subsequent markdown file. -->
                                {{ $image := resources.GetMatch .Params.screenshot }}
                                <!-- Use Hugo image processing method of "Fit" to fit the image in the thumbnail  -->
                                {{ $image := $image.Fit "320x256 webp"}}
                                <img class="w-full h-full rounded aspect-square 
                                    " 
                                    src="{{ $image.RelPermalink }}" alt="{{ .Params.description }}" height="24" width="24"
                                >
                            
                            {{ end }}
                            
                            <!-- Buttons to the links for viewing the configuration file and screenshot  -->
                            <div class="grid grid-flow-col gap-2 items-center justify-items-center max-w-full">
                                
                                <a class="grid items-center justify-items-center p-1 w-full h-auto rounded border 
                                    hover:bg-[#215578] hover:text-white hover:border-[#215578]" 
                                    href="{{ .Params.config }}"
                                >
                                    Config
                                </a>
                                
                                <a class="grid items-center justify-items-center p-1 w-full h-auto 
                                    rounded border hover:bg-[#215578] hover:text-white 
                                    hover:border-[#215578]" 
                                    href="{{ .Permalink }}"
                                >
                                    Screenshot
                                </a>
                            </div>
                        </div>
                    
                    {{ end }}
                    
                    </div>      
                </li>
            </ul>
        </section>
    </article>
</main>
