Django==3.0.8
dj-static==0.0.6
django-debug-toolbar==2.2
django-heroku-memcacheify==1.0.0
django-jsonify==0.3.0
django-vanilla-views==1.1.0
django_compressor==2.4

-e git+https://github.com/odeoncg/django-pygments.git#egg=django-pygments

gevent==20.6.2
gunicorn==20.0.4
Pillow==8.2.0
pygments==2.6.1
pylibmc==1.6.1
python-dotenv==0.13.0
PyYAML==5.3.1
sentry-sdk==0.16.3
Unipath==1.1
