<hr class="mx-8 lg:mx-80">
<footer class="mx-8 lg:mx-80 p-4 grid grid-flow-col items-center justify-between">
    <a href="/">
        <img src="/images/qtile-logo-black.png" alt="" width="64" height="64">
    </a>
    <div class="grid grid-flow-col items-center gap-4">
        <a class="" href="">
            <img src="/images/fa-icons/heart-regular.svg" 
            alt="heart icon" height="24" width="24"
            >
        </a>

        <a href="https://github.com/qtile/qtile.org/">
            <img src="/images/fa-icons/github-brands.svg" 
                alt="github logo" height="24" width="24"
            >
        </a>

    </div>
</footer>