<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{{ .Site.Title }}</title>
    
    <!-- resources.Get "style.css" will fetch the style.css file. 
    It will not work if you mention the exact location like "./assets/style.css".-->
    {{ $style := resources.Get "style.css" }}    
    <link rel="stylesheet" href="{{ $style.Permalink }}"> 
    
    <!-- Varela round font for headings -->
    <link rel="preload" href="{{ "/fonts/varelaround-regular-webfont.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>

</head>