{% extends "_layout/sidebar_right.html" %}

{% block title %}Download{% endblock %}

{% block body_class %}download{% endblock %}

{% block main %}
<div class="jumbotron">
    <div class="container">
        <h1>Download</h1>
        <p class="text-muted">How to get your hands on Qtile</p>
    </div>
</div>
{{ block.super }}
{% endblock %}

{% block content %}
    <h2><span class="fa fa-fw fa-star"></span> Get the latest official version</h2>
    <p>The latest official version is {{ settings.QTILE_VERSION }}.</p>
    <p>You can download it from Github:</p>
    <p><a href="{{ settings.QTILE_DOWNLOAD }}">{{ settings.QTILE_DOWNLOAD }}</a></p>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="fa fa-linux fa-lg fa-fw"></span>
                Packages and Installation Guides
            </h3>
        </div>
        <div class="panel-body">
            <p>Qtile has been packaged for a number of Linux distros, and it may not
                be necessary to download the official release directly. Check out the
                <a href="http://docs.qtile.org/en/latest/manual/install/index.html" class="alert-link">installation guide</a>
                to see if your distro is included.</p>
        </div>
    </div>

    <h2><span class="fa fa-fw fa-flask"></span> Get the latest development version</h2>
    <p>If you want the latest and greatest version fo Qtile, you can fetch it
        with <a href="http://git-scm.com/">Git</a>:</p>
    <pre>git clone https://github.com/qtile/qtile.git</pre>
    <p>You can also download <a href="https://github.com/qtile/qtile/zipball/master">a zipped archive</a>
        of the development version.</p>

    {% comment %}
    <h2><span class="text-muted fa fa-fw fa-cube"></span> Install a pre-packaged release</h2>
    <p>Qtile has been packaged for a number of Linux distros:<p>
    <ul>
        <li><a href="http://docs.qtile.org/en/latest/manual/install/arch.html">Arch</a></li>
        <li><a href="http://docs.qtile.org/en/latest/manual/install/funtoo.html">Funtoo</a></li>
        <li><a href="http://docs.qtile.org/en/latest/manual/install/gentoo.html">Gentoo</a></li>
        <li><a href="http://docs.qtile.org/en/latest/manual/install/ubuntu.html">Ubuntu</a></li>
        <li><a href="http://docs.qtile.org/en/latest/manual/install/debian.html">Debian</a></li>
    </ul>
    <p>If you are running one of these distros, this is your best bet. The
        installation process will handle &mdash; or guide you through &mdash;
        installing Qtile's dependencies.</p>
    {% endcomment %}

{% endblock %}


{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="fa fa-question-circle fa-fw fa-lg text-muted"></span>
                Which is right for me?
            </h3>
        </div>
        <div class="panel-body">
            <p>The development version will have the latest features, but may
                also contain new bugs. Grab this version if you want to live
                on the bleeding edge, or you plan on hacking on Qtile. You'll
                probably want to keep an eye on <a href="https://github.com/qtile/qtile">Qtile on Github</a>
                and subscribe to <a href="https://groups.google.com/group/qtile-dev">qtile-dev</a>.</p>
            <p>If you want to <i>set it and forget it</i>, then the latest
                official release is for you. You'll wait longer between updates,
                but this version is likely to be more stable and have fewer bugs.</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="fa fa-question-circle fa-fw fa-lg text-muted"></span>
                Got it, what's next?
            </h3>
        </div>
        <div class="panel-body">
            <p>Check out the <a href="http://docs.qtile.org/en/latest/manual/install/index.html">installation guide</a>
                for further instructions.</p>
        </div>
    </div>
{% endblock %}
