{% extends "_layout/sidebar_right.html" %}
{% load jsonify %}
{% load static %}

{% block title %}Videos{% endblock %}

{% block body_class %}videos{% endblock %}

{% block main %}
<div class="jumbotron">
    <div class="container">
        <h1>Videos</h1>
        <p class="text-muted">Talks, demos, and propaganda</p>
    </div>
</div>
{{ block.super }}
{% endblock %}

{% block content %}
    <div id="video_container"></div>
{% endblock %}

{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="fa fa-play-circle fa-fw text-muted"></span>
                Add your video
            </h3>
        </div>
        <div class="panel-body">
            <p>Did you give a talk about Qtile or make a screencast showing off your config?</p>
            <p>Send a pull request to <a href="https://github.com/qtile/qtile.org">qtile.org on Github</a>,
                and we'll get it added!</p>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/html" id="video_detail">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="<%=url%>">
                        <img src="<%=thumbnail_url%>" alt="<%=title%>">
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="caption">
                    <h4><a href="<%=url%>"><%=title%></a></h4>
                    <p>By <a href="<%=author_url%>"><%=author_name%></a></p>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="loading">
        <div class="loading text-center text-muted">
            <span class="fa fa-spinner fa-4x fa-spin"></span>
        </div>
    </script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/microtemplating.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/qtile.videos.js' %}"></script>
    <script type="text/javascript">init_videos({{ videos|jsonify }});</script>
{% endblock %}
