@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'Varela Round Regular';
        src: url('./fonts/varelaround-regular-webfont.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    h1 {
        @apply text-3xl lg:text-5xl font-medium;
    }
    
    h2 {
        @apply text-2xl lg:text-4xl font-medium;
    }

    h3 {
        @apply text-xl lg:text-3xl font-medium;
    }

    h4 {
        @apply text-lg lg:text-2xl font-medium;
    }
}