{% load active_page %}
{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Qtile &ndash; A hackable tiling window manager written in Python{% endblock %} | Qtile.org</title>

    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" />
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700" />
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Varela+Round" />
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <!--<link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />-->
    <link type="text/css" rel="stylesheet/less" href="{% static 'bootstrap/less/bootstrap.less' %}" />
    <link type="text/css" rel="stylesheet/less" href="{% static 'less/qtile.less' %}" />

    {% block extrahead %}{% endblock %}

    <script type="text/javascript" src="{% static 'less.js/dist/less-1.7.3.min.js' %}"></script>
</head>
<body class="{% block body_class %}{% endblock %}">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if not homepage or 1 %}<a class="navbar-brand qtile-brand" href="{% url 'index' %}">Qtile</a>{% endif %}
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="{% active_page request "download" %}">
                        <a href="{% url 'download' %}"><span class="fa fa-lg fa-fw fa-download"></span> Download</a>
                    </li>
                    <li class="{% active_page request "screenshots" %}">
                        <a href="{% url 'screenshots' %}"><span class="fa fa-lg fa-fw fa-columns"></span> Screenshots</a>
                    </li>
                    <li class="{% active_page request "videos" %}">
                        <a href="{% url 'videos' %}"><span class="fa fa-lg fa-fw fa-play-circle"></span> Videos</a>
                    </li>
                    <li><a href="http://docs.qtile.org/"><span class="fa fa-lg fa-fw fa-book"></span> Documentation</a></li>
                    <li><a href="https://github.com/qtile/qtile/issues"><span class="fa fa-lg fa-fw fa-bug"></span> Issues</a></li>
                    <li><a href="https://github.com/qtile/qtile"><span class="fa fa-lg fa-fw fa-github"></span> Github</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% block main %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}

    <footer class="container text-right">
        <hr />
        <ul class="list-inline">
            <li class="pull-left">Copyright &copy; {% now "Y" %} Qtile.org</li>
            <li>
                <a href="https://github.com/qtile/qtile/graphs/contributors">
                    <span class="fa fa-heart-o" title="Qtile is made with love by folks from around the world"></span>
                </a>
            </li>
            <li>
                <a href="https://github.com/qtile/qtile.org">
                    <span class="fa fa-github" title="Fork this site on Github"></span>
                </a>
            </li>
            <li>
                <a href="http://python.org/">
                    <img src="https://www.python.org/static/community_logos/python-powered-w-70x28.png" alt="Python Powered">
                </a>
            </li>
        </ul>
    </footer>

    {% block javascript %}{% endblock %}
</body>
</html>
