{{ define "main" }}

    <section class="grid grid-flow-row items-center justify-between 
        bg-[#222222] max-w-full min-h-fit p-4 lg:max-h-auto"
    >
        <div class="mx-8 lg:mx-80 text-[#FDFDFE]">
            <!-- Use .webp image where supported or fallback to .png format of the qtile logo -->
            <picture>
                <source  srcset="/images/qtile-logo-white.webp" type="image/webp">
                <source srcset="/images/qtile-logo-white.png" type="image/png">
                <img class="py-4 my-4" src="/images/qtile-logo-white.png" alt="Qtile logo">
            </picture>
            
            <!-- Description is fetched from home.md -->
            {{ with .Site.GetPage "home.md" }}
                <h5 class="font-varelaRound">{{ .Params.description }}</h5>
            {{ end }}
            
            <!-- Section for screenshot and example configuration -->
            <div class="grid grid-flow-row lg:grid-flow-col gap-2 h-auto my-4">
                <!-- Image of Qtile -->
                <img class="w-auto border rounded border-[#404040] hover:border-gray-600 lg:h-80" 
                    src="/images/qtile.png"
                >
                <!-- Example configuration file of Qtile is fetched from home.md file -->
                <span class="text-xs h-80 px-2 w-auto overflow-y-auto border rounded 
                    border-[#404040] hover:border-gray-600 lg:text-sm"
                >  
                    {{ with .Site.GetPage "home.md" }} 
                        {{ .Content }} 
                    {{ end }}
                </span>
            </div>
            <!-- Anchor link for more configuration examples -->
            <span class="grid justify-items-center items-center 
                my-4 p-2 lg:justify-end"
            >
                <a class="text-[#378ec8] hover:text-[#5C9FCD]" 
                    href="https://github.com/qtile/qtile-examples"
                >
                    View more configuration examples on Github
                </a>
            </span>
        </div>
    </section>

    <!-- Benefits of using a twm section -->
    <section class="mx-8 lg:mx-80 p-4 my-4">
        <h1 class="my-2 text-4xl grid justify-items-center">Benefits of using a tiling window manager</h1>
    
        <div class="grid grid-flow-row lg:grid-cols-3 gap-2">
            <div class="my-4">
                <span class="grid justify-center p-2">
                    <img class="h-12 w-12" src="/images/fa-icons/bolt-solid.svg" />
                </span>
                <span class="text-xl font-semibold">Optimize your workflow</span>
                <span>by configuring your environment to fit how <em>you</em> work.</span>
            </div>
            <div class="my-4">
                <span class="grid justify-center p-2">
                    <img class="h-12 w-12" src="/images/fa-icons/table-columns-solid.svg" />
                </span>
                <span class="text-xl font-semibold">Efficiently use screen real-estate</span>
                <span>by automatically arranging windows with minimal visual cruft.</span>
            </div>
            <div class="my-4">
                <span class="grid justify-center p-2">
                    <img class="h-12 w-12" src="/images/fa-icons/kit-medical-solid.svg" />
                </span>
                <span class="text-xl font-semibold">Save your wrists from RSI</span>
                <span>by ditching the mouse and driving with the keyboard.</span>
            </div>
        
        </div>
    </section>

    <!-- Why Qtile? section -->
    <section class="mx-8 lg:mx-80 p-4 my-4">
        
        <h1 class="my-2 text-4xl grid justify-items-center">Why Qtile?</h1>
    
        <div class="grid grid-flow-row items-center lg:grid-cols-2 gap-2">
            <div class="my-2 text-xl">
                <span class="text-xl font-semibold">Qtile is simple, small, and extensible.</span>
                <span>It's easy to write your own layouts, widgets, and built-in commands.</span>
            </div>
            
            <div class="my-2">
                <span class="text-xl font-semibold">Qtile is written and configured entirely in Python.</span>
                <span>Leverage the full power and flexibility of the language to make it fit your needs.</span>
            </div>
            
            <div class="my-2">
                <span class="text-xl font-semibold">The Qtile community is active and growing.</span>
                <span>There's always someone to lend a hand when you need help.</span>
            </div>

            <!--  -->
            <div class="my-2">
                <span class="text-xl font-semibold">
                    Qtile is free and open-source software.
                </span>
                <span>Distributed under the permissive 
                    <a class="text-[#215578]" 
                        href="http://docs.qtile.org/en/latest/manual/license.html"
                    >
                        MIT license
                    </a>.
                </span>
            </div>

        </div>
    </section>

    <!-- Screenshots section -->
    <section class="grid grid-flow-col items-center bg-[#222222] max-w-full my-4 p-4 h-auto lg:h-48">
        <div class="mx-8 lg:mx-80 text-[#FDFDFE]">
            <ul>
                <li class="grid grid-flow-row gap-4 items-center justify-items-center lg:grid-flow-col">
                    <!-- Find the first 5 regular pages from screenshots sectino which
                    have the frontmatter screenshot -->
                    {{ range first 5 (where .Site.RegularPages "Section" "screenshots") }}
                        {{ if .Params.screenshot }}
                            {{ $image := resources.GetMatch .Params.screenshot }}
                            {{ $image := $image.Fit "256x128 webp"}}
                            <img class="border hover:border-gray-600 border-[#222222] rounded" 
                                src="{{ $image.RelPermalink }}" alt="{{ .Params.description }}"
                            >
                        {{ end }}
                    {{ end }}
                </li>
            </ul>
        </div>
    </section>

    <!-- Qtile communiy and getting involved section -->
    <section class="grid grid-flow-row items-start justify-items-stretch  
        mx-8 my-4 p-4 max-w-full gap-4 lg:gap-8 lg:mx-80 lg:grid-cols-2"
    >
        <!-- Qtile community sub section -->
        <div class="grid grid-flow-row items-start place-content-start my-4 p-4 gap-2 max-w-full">
            <h3>The Qtile community</h3>
            <div class="grid grid-flow-row items-center place-content-start gap-2 lg:grid-flow-col">
                <span class="grid grid-flow-col items-center place-content-start gap-2">
                    <img class="h-8 w-8" src="/images/fa-icons/comments-regular.svg" 
                    alt="Two dialogue boxes which means comment sections." 
                />
                <a href="irc://irc.oftc.net:6667/qtile" 
                    class="text-xl lg:text-2xl text-[#215578]"
                >
                    IRC Channel
                </a>
                </span>
                <p>irc://irc.oftc.net:6667/qtile</p>
            </div>
            
            <div class="grid grid-flow-row items-center place-content-start max-w-full gap-2 lg:grid-flow-col">
                <span class="grid grid-flow-col items-center place-content-start gap-2">
                    <img class="h-8 w-8" src="/images/fa-icons/envelope-regular.svg" 
                    alt="Two dialogue boxes which meants comments section." 
                />
                <a href="qtile-dev@googlegroups.com" 
                    class="text-xl lg:text-2xl text-[#215578]"
                >
                    Mailing
                     list</a>
                </span>
                <p>qtile-dev@googlegroups.com</p>
            </div>

            <div class="grid grid-flow-row items-center place-content-start gap-2 lg:grid-flow-col">
                <span class="grid grid-flow-col items-center place-content-start gap-2">
                    <img class="h-8 w-8" src="/images/fa-icons/twitter-brands.svg" 
                    alt="Two dialogue boxes which meants comments section." 
                />
                <a href="http://twitter.com/Qtile" 
                    class="text-xl lg:text-2xl text-[#215578]"
                >
                    Twitter
                </a>
                </span>
                <p>@qtile</p>
            </div>
        </div>

        <!-- Getting involved sub section -->
        <div class="grid grid-flow-row items-start place-content-start my-4 p-4 gap-2">
            <h3>Getting involved</h3>
            <div class="grid grid-flow-row items-center place-content-start lg:gap-4 lg:grid-flow-col">
                <span class="grid grid-flow-col items-center gap-2 place-content-start">
                    <img class="h-8 w-8" src="/images/fa-icons/bug-solid.svg" 
                    alt="Two dialogue boxes which meants comments section." 
                />
                <a href="https://github.com/qtile/qtile/issues" 
                    class="text-xl lg:text-2xl text-[#215578]"
                >
                    Issue tracker
                </a>
                </span>
                <p>Report bugs and request new features</p>
            </div>
            
            <div class="grid grid-flow-row place-content-start items-center lg:gap-2 lg:grid-flow-col">
                <span class="grid grid-flow-col items-center gap-2 place-content-start">
                    <img class="h-8 w-8" src="/images/fa-icons/keyboard-regular.svg" 
                    alt="Two dialogue boxes which meants comments section." 
                />
                <a href="qtile-dev@googlegroups.com" 
                    class="text-xl lg:text-2xl text-[#215578]"
                >
                    Hacking Qtile
                </a>
                </span>
                <p>Get started hacking on the code</p>
            </div>
        </div>
    
    </section>

{{ end }}